jupyter
numpy
gensim
huggingface
matplotlib
seaborn
nltk
pandas
opencv-python 
Pillow 
scikit-learn
category_encoders
scipy
torch
torchaudio
torchinfo
torchtext
torchvision
transformers
torchdata